html, body {
  margin: 0;
  padding: 40px; /* Adjusted padding */
  background-image: url('corten.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* This keeps the background fixed when scrolling */
}

canvas {
  display: block;
   top: 0;
    left: 0;
}

h1 {
  color: rgb(255, 152, 17);
  font-family: 'Helvetica';
  font-style: regular;
  padding-left: 40px;
  font-size: 20px;
}

.content {
    margin-top: 40px; /* Add margin equal to the height of the canvas */
    padding-top: 40px; /* Adjusted padding */
    z-index: 1; /* Ensure content is behind canvas */
}

.content2 {
    margin-top: 80px; /* Add margin equal to the height of the canvas */
    padding-top: 80px; /* Adjusted padding */
    z-index: 0; /* Ensure content is behind canvas */
}
